.card img{
    width: 90%;
    height: 250px;
}
.card{
    position: relative;
    border: none;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 4px;
    width: 326px;
    margin-bottom: 20px;
    border: 4px solid #FBFCFF ;
}
.heart{
    position: absolute;
    top: 2px;
    right: 20px;
}
.heart i{
    color: #EA6055;
}
.discount{
    color: #fff;
    background-color: #EA6055;
    width:20%;
    height: 40px;
    position: absolute;
    top:0px;
    left:10px;
    text-align: center;
    border-bottom-left-radius:20px;        
}