<div class="row">
    <div class="col">
        <img src="../../../assets/e59a83bd-84c4-4c77-bcc1-14fcb8d3a6a5-removebg-preview 2 (1).png" alt="">
        <img src="../../../assets/Fast Do.png" alt="">
    </div>
    <div class="col">
        <ul>
            <li class="text-uppercase">company info</li>
            <li class="sm-links">contact us</li>
            <li class="sm-links">about us</li>
            <li class="sm-links">coustmer service</li>
            
        </ul>
        
        
    </div>
    <div class="col">
        <ul>
            <li class="text-uppercase">help&support</li>
            <li class="sm-links">FAQ</li>
            <li class="sm-links">privacy policy</li>
            <li class="sm-links">content us form</li>
            <li class="sm-links">terms & conditions</li>
            <li class="sm-links">return & refund policy</li>
            <li class="sm-links">shipping & delivery policy</li>
            
        </ul>
        
        
    </div>
    <div class="col">
        <ul>
            <li class="text-uppercase">account</li>
            <li class="sm-links">My Orders</li>
            <li class="sm-links">Track Order</li>
            <li class="sm-links">Edit Profile</li>
            <li class="sm-links">My Favorite</li>
            <li class="sm-links">payment</li>
            <li class="sm-links">check out</li>
            <li class="sm-links">shopping cart</li>
            <li class="sm-links">log out</li>
        </ul>
        
        
    </div>
    <div class="col">
        <ul>
            <li>follow us</li>
            <div><a href="#"><img src="../../../assets/devicon_linkedin.png" alt=""></a></div>
        </ul>
        
        
    </div>
</div>
