<div class="row">
    <div class="col">
        <img src="../../../assets/e59a83bd-84c4-4c77-bcc1-14fcb8d3a6a5-removebg-preview 2 (1).png" alt="">
        <img src="../../../assets/Fast Do.png" alt="">
    </div>
    <div class="col">
        <ul>
            <li>company info</li>
            <small>contact us</small>
            <small>about us</small>
            <small>coustmer service</small>
        </ul>
        
        
    </div>
    <div class="col">
        <ul>
            <li>help&support</li>
            <small>FAQ</small>
            <small>privacy policy</small>
            <small>content us form</small>
            <small>terms & conditions</small>
        </ul>
        
        
    </div>
    <div class="col">
        <ul>
            <li>account</li>
            <small>My Orders</small>
            <small>Track Order</small>
            <small>Edit Profile</small>
            <small>My Favorite</small>

        </ul>
        
        
    </div>
    <div class="col">
        <ul>
            <li>follow us</li>
            <div><img src="../../../assets/devicon_linkedin.png" alt=""></div>
          
        </ul>
        
        
    </div>
</div>
