<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../assets/e59a83bd-84c4-4c77-bcc1-14fcb8d3a6a5-removebg-preview 2.jpg"/>
        </a>
        <a class="navbar-brand" href="#">
            <a style="color: #38AF75;" >
                Fast Do<br>
                <span style="font-size:10px;display: block;margin-top: 0px;">Any time, Any where</span>
            </a>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <form class="d-flex">
                <input class="form-control me-2" style="width: 230px; border-radius: 20px;" type="search" placeholder="Search" aria-label="Search">
                <a  style="color:#189524; font-size: 20px;">
                    <i class="fas fa-file-excel"></i>
                    <i class="fas fa-book m-2"></i>
                </a>
              </form>
        </div>
        <div class="d-flex">
         <div>
         <i class="fas fa-user mr-5 "></i> username
         <i class="fas fa-shopping-cart mr-5"></i> Cart
         <i class="fas fa-bell mr-3"></i> Notifiction
        </div>
        </div>
    </div>
</nav>
