<div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let x of item">
        <div class="card " style="width: 18rem;">
          <img src="../assets/{{x.img}}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">{{x.name}}</h5>
            <p class="text-muted" style="color: #777777;">GSK</p>
            <p  style="color: #777777;">EX: 7/2026</p>
            <div class="rating" style="color: gold;">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
              </div>
            <div class="shopping"  style="display: grid; grid-template-columns: auto auto;">
                <p >16 EGP
                    <span class="text-muted" style=" text-decoration: line-through; display: block;">20EGP</span>
                    
                </p>
                <div class="basket"  style="display: grid; grid-template-columns: auto auto; background-color: #38AF75;color: #fff;align-items: center; border-radius:5px;height: 50px;">
                    <a ><i class="fas fa-shopping-cart"></i></a>
                    <a><i class="fas fa-arrow-right"></i></a>

                </div>
            </div>
          </div>
          <div class="heart">
            <i class="far fa-heart"></i>
          </div>
          <div class="discount">
             <p>10% </p>
          </div>
          <div class="shape">
            
          </div>
        </div>
      </div>
    </div>
  </div>