<div class="container-fluid">
    <section class="row heade-section">
        <div class="col-md-6">
            <div>
                <h1 class="mb-4">Welcome to FastDo!</h1>
                <p class="mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla inventore alias sapiente illum, quis nam doloribus itaque quia at tempore.quam laudantium quibusdam saepe nemo dolore.</p>
                <button class="btn btn-dark">Learn more</button>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <img src="assets/images/home.png" alt="pharmaeutical pic" 
                class="head-pic ">
            </div>
        </div>
    </section>

    <section>
        <div class="head-services">
            <div class="box text-center">
                <div><img src="assets/images/medical.png" alt="medical"></div>
                <div><p>Developing pharmacy management</p></div>
            </div>
            <div class="box box-light text-center">
                <div><img src="assets/images/warehouse.png" alt="medical"></div>
                <div><p>Developing warehouse management</p></div>
            </div>
            <div class="box text-center">
                <div><img src="assets/images/replace.png" alt="medical"></div>
                <div><p>Find and replace rows</p></div>
            </div>
        </div>
    </section>

    <section class="row who-we-are">
        <div class="col-md-6 vid">
            <video width="560" height="350" controls muted autoplay>
                <source src="movie.mp4" type="video/mp4">
                <!-- <source src="movie.ogg" type="video/ogg"> -->
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-md-6 content-text">
            <div>
                <h2 class="text-center">Who we are?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, totam in perferendis eveniet sunt hic facere soluta quibusdam molestias, consectetur eligendi ad distinctio illo dolorem fugiat, ea magni necessitatibus 
                ducimus!</p>
            </div>
        </div>
    </section>

    <section class="categories container">
        <h2>Categories</h2>
        <div class="row text-center">
            <div *ngFor="let cat of categories" class="col-md-4 mb-5">
                <div>
                    <p>{{cat.categoryName}}</p>
                    <img src="{{cat.categoryImgPath}}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="distributors">
        <h2 class="text-center">Our Distributors</h2>
        <div class="carosule-parent text-center">
            <section class="splide" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="text-center p-3 dis-item">
                                <p class="disName">Karma</p>
                                <p class="disRate">
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star whiteStar"></i>
                                </p>
                                <button class="btn btn-dark">view more</button>
                            </div>
                        </li>
                        <li class="splide__slide"> 
                            <div class="text-center p-3 dis-item">
                                <p class="disName">Karma</p>
                                <p class="disRate">
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star whiteStar"></i>
                                </p>
                                <button class="btn btn-dark">view more</button>
                            </div>
                        </li>
                        <li class="splide__slide">            
                            <div class="text-center p-3 dis-item">
                                <p class="disName">Karma</p>
                                <p class="disRate">
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star whiteStar"></i>
                                </p>
                                <button class="btn btn-dark">view more</button>
                            </div>
                        </li>
                        <li class="splide__slide">            
                            <div class="text-center p-3 dis-item">
                                <p class="disName">AliExpress</p>
                                <p class="disRate">
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star whiteStar"></i>
                                </p>
                                <button class="btn btn-dark">view more</button>
                            </div>
                        </li>
                        <li class="splide__slide">            
                            <div class="text-center p-3 dis-item">
                                <p class="disName">Elsadek</p>
                                <p class="disRate">
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star whiteStar"></i>
                                </p>
                                <button class="btn btn-dark">view more</button>
                            </div>
                        </li>
                        <!-- <li *ngFor="let slide of slides" class="splide__slide">            
                            <div class="text-center p-3 dis-item" [id]="slide.id">
                                <p class="disName">{{slide.distributorName}}</p>
                                <p class="disRate">
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star yellowStar"></i>
                                    <i class="fa-solid fa-star whiteStar"></i>
                                </p>
                                <button class="btn btn-dark">view more</button>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </section>

        </div>
        <p class="right"><a href="#" class="show-more">Show More</a></p>
    </section>

    <section class="website-services px-5">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="w-100" 
                        src="assets/images/freepik--character-2--inject-3.png" alt="">
                    </div>
                    <div class="col-sm-8">
                        Explore <br> &nbsp; Your best<br> &nbsp;Options to<br> &nbsp;Use our web
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="service-item" >
                    <img src="assets/images/excel.png" alt="">
                    <p class="servic-name">Excel Sheet</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col-md-4 text-center ">
                <div class="service-item" >
                    <img src="assets/images/sticky-notes.png" alt="">
                    <p class="servic-name">Notes </p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col-md-4 text-center mt-4">
                <div class="service-item" >
                    <img src="assets/images/interactivity.png" alt="">
                    <p class="servic-name">Quick Interaction </p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col-md-4 text-center mt-4">
                <div class="service-item" >
                    <img src="assets/images/hand (2).png" alt="">
                    <p style="margin-top: 0;" class="servic-name">Best Offers </p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col-md-4 text-center mt-4">
                <div class="service-item" >
                    <img src="assets/images/delivery-van.png" alt="">
                    <p style="margin-top: 0;" class="servic-name">Fast Delivery </p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            
        </div>
    </section>

    <section class="contact px-5 py-3 row">
        <div style="width: 60%;">
            <h3 class="mb-3">Web Design</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita hic asperiores consectetur accusamus voluptatem nesciunt ipsum deleniti placeat facilis ab a eaque ducimus commodi fugiat, aliquam quam rerum magni vitae.</p>
        </div>
        <div>
            <input type="email" name="email" id="email" class="form-input" 
            placeholder="&nbsp; &nbsp; Enter your email Address">
            <button class="myBtn">Get Started</button>
        </div>
    </section>
</div>
